/* App.css */

.navbar {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  .navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  .balance-card {
    background-color: #f04c4c;
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  